body
{
	margin-top:0;
	margin-bottom:0;
	padding-top:0;

	background-color:#000000;
	font-family: Tahoma, "Times New Roman";
	color: #ffffff;
}


#overall
{
	margin:auto;
	width:1280px;
	background-color:#333333;
	/*background-image:url('pics/bg_box.png');*/
	border-width:1px;
	border-left-style:solid;
	border-right-style:solid;
	border-color:#ffffff;
	/*border-style:none;*/
	padding:0;
}

#canvas
{

}

#content
{
	float:left;
}

#footer
{
	clear:both;
	font-size:0.7em;
	margin-top:5px;
	padding-bottom:3px;
	text-align:center;
	border-width:1px;
	border-top-style:solid;
	border-color:#000000;
	color:#ffffff;
}

#footer p
{
	margin-top:8px;
	margin-bottom:8px;
}

p
{
	margin-left:20px;
	color: #ffffff;
	font-size:15px;
}

h2
{
	margin-left:10px;
	color: #ff9b00;
	margin-top:0px;
}

#model_modes
{
	margin-left:8px;
	float:left;
}

#render_modes
{
	margin-left:8px;
	float:left;
}

#pass_modes
{
	margin-left:20px;
	float:left;
}

#background_modes
{
	margin-left:8px;
	float:left;
}

.clear
{
	clear:both;
}
